[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
google-cloud-pubsub = "*"
boltons = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
ipython = "*"
bigquery-schema-generator = "*"
click = "*"
pyaml = "*"

[requires]
python_version = "3.6"
